<div class="my-post-container">
    <div class="heading-container">
        <h2 class="title">My Blog Posts</h2>
        <h3 class="description">From here you can manage all your blog posts </h3>

        <div class="buttons-container">
            <!-- <button  class="btn">View All Posts</button> -->
            <button routerLink="/create-post" class="btn">Add New Post</button>
            <button class="btn" routerLink="/">Back To Home</button>
        </div>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th class="column-1">S.No.</th>
                    <th class="column-2">Image</th>
                    <th class="column-3">Title</th>
                    <th class="column-4">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let blog of myBlogs; index as i">
                    <td class="column-1" >{{i+1}}</td>
                    <td class="column-2"><img class="post-img" src={{blog.imageUrl}} alt="Image 1"></td>
                    <td class="column-3">{{blog.title}}</td>
                    <td class="column-4">
                        <div class="btn-group">
                        <button class="btn" [routerLink]="['/blog',blog.id]">view</button>
                         <button class="btn" [routerLink]="['/update-post',blog.id]">edit</button>
                         <button class="btn" (click)="onDelete(blog.id)">delete</button>
                        </div>
                    </td>
                      
                </tr>
            </tbody>
        </table>
        <div *ngIf="myBlogs?.length === 0" class="no-post">
            <h3>Please upload your blog</h3>
        </div>
    </div>
    <app-custom-pagination [pageNumber]="pageNumber" [pageSize]="pageSize" [lastPage]="lastPage" [totalElements]="totalElements" [totalPages]="totalPages"    (sentPageNumber)="onPageChanged($event)" ></app-custom-pagination>
</div>
