.my-post-container{
    padding: 30px 0px;
}
.heading-container{
    padding: 30px;
    border: 2px solid black;
    border-radius: 12px;
    max-width: 600px;
    margin:0 auto;
}
.title{
    text-align: center;
}
svg{
        width: 18px;
        height: 18px;
        cursor: pointer;
        /* display: flex;
        justify-content: center;
        align-items: center; */
}
.btn-group{
    display: flex;
    justify-content: center;
    gap:8px;
}
.post-img{
    max-width: 70px;
    max-height:70px ;
}
.description{
    text-align: center;
    margin-bottom: 16px;
}
.buttons-container{
    display: flex;
    justify-content: center;
    gap:16px;
}
.table-container{
    margin:30px 0px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
img {
    max-width: 100px; /* Adjust size of images */
    max-height: 50px;
    object-fit: cover;
}
.column-1 {
    width: 5%; /* Narrow width for S.No. */
}
.column-2 {
    width: 10%; /* Wider width for Image */
}
.column-3 {
    width: 45%; /* Even wider for Title */
    word-break: break-all;
}
.column-4 {
    width: 20%; /* Width for Action column */
}

.no-post{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

@media (max-width:768px) {
    .column-1 {
        width: 1%; /* Narrow width for S.No. */
        max-width: 40px;
    }
    .column-2 {
        width: 5%; /* Wider width for Image */
    }
    .column-3 {
        width: 70% !important; /* Even wider for Title */
    }
    .column-4 {
        width: 20% !important; /* Width for Action column */
    }

    .buttons-container{
        display: flex;
        justify-content: center;
        gap:3px;
    }
}
