@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.single-page-container{
    display: grid;
    grid-template-columns: minmax(400px, 3fr) minmax(300px, 1fr); /* Responsive column sizes */
    gap: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.category-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:8px 0px;
}
.category{
    padding: 4px 10px;
    border-radius: 20px;
    border:1px solid black;
    background: linear-gradient(to right, #A2C2E0, #E4F1F5) ;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}
.title{
    margin:8px 0px;
}
.blog-img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.content-container{
    word-wrap: break-word;
    word-break: break-all;
    white-space:pre-wrap;
}
.author-data{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 8px;
    margin:8px 0px;
    text-transform: uppercase;
    font-weight: bold;
}
.author-img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.post-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:8px 0px;
}
.add-comment-container{
    display: flex;
    gap:16px;
    align-items:start;
    margin:8px 0px;
}
svg{
    width: 18px;
    height: 18px;
    cursor: pointer;
 
}

.likes{
    border:2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4px;
}
textarea{
    width: 100%;
    max-width: 100%;
    
    padding: 8px 16px;
    font-size: 16px;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}
.comments-container{
    margin:16px 0px;
}
.all-comments-container{
    max-height: 500px;
    overflow-y: scroll;
    background-color: #DCDCDC;
    padding: 16px;
}
.user-comment-container{
    display: flex;
    gap: 16px;
    align-items: start;
    background-color: #F0F0F0;
    margin: 8px 0px;
    padding: 8px 16px;
}

.comment-user-data{
    padding: 8px 0px;
}
.comment-content-container{
    flex:9;
}
.comment-action-container{
    flex:3;
    min-width: 100px;
}
.btn-full{
    width: 50%;
}
.edit-input{
    width: 100%;
    padding: 8px;
    font-family: inherit;
    font-size: 16px;
}
.user-comment-img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}



.right-container h2{
    text-align: center;
    margin:15px 0px;
}
.load-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px auto;
}
.liked{
    background: linear-gradient(to right, #A2C2E0, #E4F1F5) ;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
    .single-page-container {
      grid-template-columns: 1fr; /* Single column layout */
    }
  }