<div class="single-page-container">
    <div class="left-container">

        <div class="category-container">
            <div class="category">Category</div>
            <p class="created-at">Sep 12,2024</p>
        </div>

        <h2 class="title">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h2>
        <img class="blog-img" src="https://images.pexels.com/photos/28104106/pexels-photo-28104106/free-photo-of-a-view-of-a-bridge-over-a-river-and-mountains.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="">

        <div class="author-data">
            <img class="author-img" src="https://images.pexels.com/photos/28104106/pexels-photo-28104106/free-photo-of-a-view-of-a-bridge-over-a-river-and-mountains.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="">
            <p class="authorname">tanish chauhan</p>
        </div>

        <div class="content-container">

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui alias ex id saepe ducimus tenetur dolore cupiditate ullam beatae, eum rem aut iure, vero ipsam. Asperiores ratione doloremque aperiam id?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi cum fugit sunt, quod aut consequatur doloribus nostrum vel quas dolor facilis. Fugit voluptate omnis doloremque voluptatibus illum eius facere porro?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor exercitationem, numquam perspiciatis labore maiores voluptas harum reiciendis optio! Dolores aspernatur voluptatem praesentium, quidem dicta laboriosam officia totam. Molestiae, alias tenetur.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam necessitatibus fuga quis natus magnam nobis animi, iste ut quam perspiciatis possimus ullam, a nemo iure vero sed eius libero? Error.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod ratione corrupti tenetur id neque labore eaque voluptate tempora minima odio deserunt sapiente blanditiis dolorum ducimus consequatur, autem necessitatibus iste debitis.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum vero dicta molestias nemo corrupti illo, ad magni deserunt, reiciendis aperiam voluptates excepturi voluptatibus accusantium dolorem fugiat saepe aliquid in nesciunt?
        </div>
        <div class="post-footer">
            <p class="likes">likes 1.5k</p>
            <p class="views">views(112,234)</p>
        </div>
        <div class="create-comment">
            <h3 class="leave-comment">Leave a Comment</h3>
            <textarea rows="3"  id=""></textarea>
        </div>
        <div class="comments-container">
            <h3 class="all-comments">comments(23)</h3>
            <div class="user-comment-container">
                <img class="user-comment-img" src="https://images.pexels.com/photos/28104106/pexels-photo-28104106/free-photo-of-a-view-of-a-bridge-over-a-river-and-mountains.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="">
                <p class="user-comment" >what thype of blog is this</p>
            </div>
            <div class="user-comment-container">
                <img class="user-comment-img" src="https://images.pexels.com/photos/28104106/pexels-photo-28104106/free-photo-of-a-view-of-a-bridge-over-a-river-and-mountains.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="">                <p class="user-comment" >what thype of blog is this</p>
            </div>
            <div class="user-comment-container">
                <img class="user-comment-img" src="https://images.pexels.com/photos/28104106/pexels-photo-28104106/free-photo-of-a-view-of-a-bridge-over-a-river-and-mountains.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="">                <p class="user-comment" >what thype of blog is this</p>
            </div>
            <div class="user-comment-container">
                <img class="user-comment-img" src="https://images.pexels.com/photos/28104106/pexels-photo-28104106/free-photo-of-a-view-of-a-bridge-over-a-river-and-mountains.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="">                <p class="user-comment" >what thype of blog is this</p>
            </div>
        </div>
    </div>
   
    
    <div class="right-container">
        <h2>Similar Blogs</h2>
        <div class="card-container">
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
        </div>
    </div>
</div>
