<div class="single-page-container">
    <div class="left-container">

        <div class="category-container">
            <div class="category">{{blogData?.category?.title}}</div>
            <p class="created-at">{{blogData?.createdDate | date: 'MMM d , y'}}</p>
        </div>

        <h2 class="title">{{blogData?.title}}</h2>
        <img class="blog-img" src={{blogData?.imageUrl}} alt="">

        <div class="author-data">
            <!-- <img class="author-img" src="https://images.pexels.com/photos/28104106/pexels-photo-28104106/free-photo-of-a-view-of-a-bridge-over-a-river-and-mountains.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt=""> -->
            <p class="authorname">{{blogData?.createdBy?.username}}</p>
        </div>

        <div class="content-container">
            {{blogData?.content}}
        </div>
        <div class="post-footer">
            <p class="likes btn" [ngClass] = "{'liked': liked}" (click)="onLike(blogData?.id)">likes {{likeCount}}</p>
            <p class="views">views({{blogData?.viewCount}})</p>
        </div>
        <div class="create-comment">
            <h3 class="leave-comment">Leave a Comment</h3>
            <div class=" add-comment-container">
                <textarea rows="3"  id="" name="addCommentField" [(ngModel)]="addCommentField"></textarea>
                <button class="btn" (click)="addComment()">send</button>
            </div>
            
        </div>
        <div class="comments-container">
            <h3 class="all-comments">comments({{totalElements}})</h3>

            <div class="all-comments-container" *ngIf="totalElements !=0">
                <div class="user-comment-container" *ngFor="let comment of comments">
                    <!-- <div class="comment-user-data">
                        
                        <img class="user-comment-img" src="https://images.pexels.com/photos/28104106/pexels-photo-28104106/free-photo-of-a-view-of-a-bridge-over-a-river-and-mountains.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="">
                        <p>{{comment.user.userName}}</p>
                    </div> -->
                    

                    <div class="comment-content-container">

                        <div class="comment-user-data">
                            <p>{{comment.user.username}}</p>
                        </div>
                        <ng-content *ngIf=" (editCommentId !== comment.id)">
                            <p class="user-comment">{{comment.content}}</p>
                        </ng-content>

                        <ng-content *ngIf="editCommentId && (editCommentId === comment.id)">
                            <input type="text" class="edit-input" name="editCommentField" [(ngModel)]="editCommentField">
                        </ng-content>


                    </div>
                    <div class="comment-action-container" *ngIf="userData?.email === comment.user.email">


                        <div *ngIf=" (editCommentId !== comment.id)">
                            <button class="btn btn-full" (click)="onEdit(comment.id,comment.content)">edit</button>
                            <button class="btn btn-full"(click)="onDelete(comment.id)">delete</button>
                        </div>


                        <div *ngIf="editCommentId && (editCommentId === comment.id)">
                            <button class="btn btn-full" (click)="updateComment(comment.id)">update</button>
                            <button class="btn btn-full" (click)="onCancel()">cancel</button>
                        </div>


                    </div>
                </div>
                <div class="load-container" *ngIf="!lastPage">
                    <button class="btn" (click)="loadMore()" >Load more</button>
                </div>
            </div>
            <div *ngIf="totalElements == 0" class="no-comment">
                Be the first one to comment on this post
            </div>
        </div>
    </div>
   
    
    <div class="right-container">
        <h2>Similar Blogs</h2>
        <div class="card-container">
            <app-card *ngFor="let blog of similarBlog" [blogData]="blog"></app-card>
        </div>
    </div>
</div>
