<div class="create-post-container">
    <h1 class="title">CREATE NEW POST</h1>
   <div class="form-wrapper">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="input-container">
            <label>Title</label>
            <input type="text" formControlName="title">
            <div class="errors-container" *ngIf="postForm.controls?.['title']?.touched">
                <span class="error-text" *ngIf="postForm.controls?.['title']?.errors?.['required']"> This Is Required</span>
                <span class="error-text" *ngIf="postForm.controls?.['title']?.errors?.['minlength']">title must be between 3 to 200 character long</span>
            </div>
        </div>
        <div class="options-file-container">
            <div class="input-container fix-width">
                <label>Select a category</label>
                <select  id="" formControlName="selectedCategoryId">
                    <option value="">--Select an Item--</option>
                    <option *ngFor="let category of categories" [value]="category.id">{{ category.title }}</option>
                </select>
                <div class="errors-container" *ngIf="postForm.controls?.['selectedCategoryId']?.touched">
                    <span class="error-text" *ngIf="postForm.controls?.['selectedCategoryId']?.errors?.['required']"> This Is Required</span>
                </div>
            </div>
            <div class="input-container fix-width">
                <label>Choose post image</label>
                <input type="file" name="select post image"formControlName="image" (change)="onFileChange($event)">
                <div class="errors-container" *ngIf="postForm.controls?.['image']?.touched">
                    <span class="error-text" *ngIf="postForm.controls?.['image']?.errors?.['required']"> This Is Required</span>
                </div>
            </div>
        </div>
        <div class="input-container">
            <label>Content</label>
            <textarea name="" id="" rows="5" formControlName="content"></textarea>
            <div class="errors-container" *ngIf="postForm.controls?.['content']?.touched">
                <span class="error-text" *ngIf="postForm.controls?.['content']?.errors?.['required']"> This Is Required</span>
                <span class="error-text" *ngIf="postForm.controls?.['content']?.errors?.['minlength']">content must be 1000 character long</span>
            </div>
        </div>
        <div class=" btn-container">
            <button class="btn" type="submit" [disabled]="postForm.invalid
            ">
                <app-api-loader *ngIf="isApiLoading"></app-api-loader>
                Submit</button>
        </div>
    </form>

   </div>
</div>
