<div class="create-post-container">
    <h1 class="title">CREATE NEW POST</h1>
   <div class="form-wrapper">
    <form>
        <div class="input-container">
            <label>Title</label>
            <input type="text">
        </div>
        <div class="options-file-container">
            <div class="input-container fix-width">
                <label>Select a category</label>
                <select name="" id="">
                    <option value="">Design</option>
                    <option value="">Design</option>
                    <option value="">Design</option>
                    <option value="">Design</option>
                    <option value="">Design</option>
                </select>
            </div>
            <div class="input-container fix-width">
                <label>Choose post image</label>
                <input type="file" name="select post image">
            </div>
        </div>
        <div class="input-container">
            <label>Content</label>
            <textarea name="" id="" rows="5"></textarea>
        </div>
        <div class=" btn-container">
            <button class="btn">Submit</button>
        </div>
    </form>

   </div>
</div>
