<div class="card" (click)="navigateToPage(blogData.id)" *ngIf="blogData" >
    <img src={{blogData.imageUrl}} alt="" class="card-img">
    <h3 class="card-title">{{blogData.title}}</h3>
    <p class="blog-content">{{blogData.content}}</p>
    <div class="card-data">
        <p class="created-at">{{blogData.createdDate | date: 'MMM d, y'}}</p>
        <p class="views">Views ({{blogData.viewCount}})</p>
    </div>
    <div class="card-footer-data">
        <!-- <div class="card-user-data"> -->
            <!-- <img src="https://media.istockphoto.com/id/1337144146/vector/default-avatar-profile-icon-vector.jpg?s=612x612&w=0&k=20&c=BIbFwuv7FxTWvh5S3vB6bkT0Qv8Vn8N5Ffseq84ClGI=" alt="" class="card-user-img"> -->
            <p class="card-username"><span>Author: </span>{{blogData.createdBy.username}}</p>
        <!-- </div>  -->
        <div class="card-category">
            {{blogData.category.title}}
        </div> 
    </div>
</div>
