<div class="card" (click)="navigateToPage()" >
    <img src="https://images.pexels.com/photos/28220698/pexels-photo-28220698/free-photo-of-nguoitamchuyenhouse-sai-gon-vi-t-nam-2020-saigon-vietnam-2020.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="" class="card-img">
    <h3>Computer Networking</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur optio error quos earum asperiores illum necessitatibus, a ullam laudantium quo nisi, corrupti dolore? Assumenda repudiandae odit eius, nemo esse cum.</p>
    <div class="card-data">
        <p class="created-at">created At</p>
        <p class="views">Views (12,345,56)</p>
    </div>
    <div class="card-footer-data">
        <div class="card-user-data">
            <img src="https://media.istockphoto.com/id/1337144146/vector/default-avatar-profile-icon-vector.jpg?s=612x612&w=0&k=20&c=BIbFwuv7FxTWvh5S3vB6bkT0Qv8Vn8N5Ffseq84ClGI=" alt="" class="card-user-img">
            <p class="username">user-name</p>
        </div> 
        <div class="card-category">
            category
        </div> 
    </div>
</div>