<div class="wrapper" >
    <div class="signup-container">

        <h1 class="title">Sign Up</h1>
        <form class="form-container">
            <div class="input-container">
                <label>FullName</label>
                <input type="text">
            </div>
            <div class="input-container">
                <label>Email</label>
                <input type="text">
            </div>
            <div class="input-container">
                <label>Username</label>
                <input type="text">
            </div>
            <div class="input-container">
                <label>Password</label>
                <input type="text">
            </div>
            <div class="btn-container">
                <button class="btn">
                    Submit
                </button>
            </div>
        </form>
        <div>
            <p class="account" routerLink="/login">Already have an account?</p>
        </div>
        
    </div>
</div>