.wrapper{
    /* border:5px solid black; */
    min-height: calc(100vh - 182px);
    margin: -16px;
    background-color: #DCDCDC ;
    display: flex;
    justify-content: center;
}
.title{
    text-align: center;
}
.signup-container{
    width: 100%;
    max-width: 500px;
    border: 2px solid black;
    border-radius: 12px;
    margin:16px auto;
    background-color: white;
    /* background: linear-gradient(to right, #A2C2E0, #E4F1F5) ;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.input-container{
    display: flex;
    flex-direction: column;
    /* width: 70%; */
    padding: 0px 16px;
    margin:16px 0px;
}

input,select,textarea{
    padding: 16px;
    font-family: inherit;
    font-size: 16px;
}
.btn-container{
    display: flex;
    justify-content: center;
}
button{
    padding: 8px 16px;
    font-size: 20px;
}
.account{
    padding: 16px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 24px;
    text-align: end;
    color: blue;
}
.error-text{
    color: red;
}