

<div class="nav-container">
    <nav class=" global-wrapper" >
        <div class="nav-logo">angular-blog</div>
        <div class="nav-links-container">
            <ul>
                <li><a routerLink="/" class="nav-link">Home</a></li>
                <li><a routerLink="/popular" class="nav-link">Popular</a></li>
                <li><a routerLink="/all-blogs" class="nav-link">Search</a></li>
                <li><a routerLink="/post" class="nav-link">Post</a></li>
                <!-- <li><a href="#" class="nav-link">MostViewed</a></li> -->
                <li><a href="/signup" class="nav-link">Sign Up</a></li>
                <li><a href="/login" class="nav-link">Log In</a></li>
                <li><a href="#" class="nav-link">Log Out</a></li>
            </ul>
            <div>
                user
            </div>
        </div>
    </nav>
</div>


