<div class="hero-container">
    <h1 class="hero-heading">THE BLOG </h1>
</div>
<section class="popular-post-container">
    <div class="popular-heading">
        <h2>Popular Posts</h2>
        <a href="" class="view-all">view all</a>
    </div>
    <div class="card-container">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </div>
    

</section>

<section class="popular-post-container">
    <div class="popular-heading">
        <h2>Most Viewed Blog</h2>
        <a href="" class="view-all">view all</a>
    </div>
    <div class="card-container">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </div>

</section>

<section class="popular-post-container">
    <div class="popular-heading">
        <h2>All Blogs</h2>
        <a href="" class="view-all">view all</a>
    </div>
    <div class="card-container">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </div>

</section>