<div class="hero-container">
    <h1 class="hero-heading">THE BLOG </h1>
</div>
<section class="popular-post-container">
    <div class="popular-heading">
        <h2>Popular Posts</h2>
        <a  [routerLink]="['/popular']" class="view-all">view all</a>
    </div>
    <div class="card-container">
        <app-card *ngFor="let blog of popularBlogs" [blogData]="blog"></app-card>
    </div>
    

</section>

<section class="popular-post-container">
    <div class="popular-heading">
        <h2>Most Viewed Blog</h2>
        <a [routerLink]="['/most-viewed']" class="view-all">view all</a>
    </div>
    <div class="card-container">
        <app-card *ngFor="let blog of mostViewedBlogs" [blogData]="blog"></app-card>
    </div>

</section>

<section class="popular-post-container">
    <div class="popular-heading">
        <h2>All Blogs</h2>
        <a [routerLink]="['/all-blogs']" class="view-all">view all</a>
    </div>
    <div class="card-container" >
        <app-card *ngFor="let blog of allBlogs" [blogData]="blog"></app-card>
    </div>

</section>

<app-page-loader *ngIf="isLoadingCount>0"></app-page-loader>
 <!-- <app-api-loader *ngIf="isLoading"></app-api-loader> -->