<div class="hero-container">
    <h1 class="hero-heading">ALL BLOGS </h1>
</div>

<div class="search-container">
    <div class="content-wrapper">
        <div class="input-container">        
            <input type="text" name="searchField" [(ngModel)]="searchField" id="" placeholder="search by title">
            <button class="btn" (click)="onSend()">
                <app-api-loader *ngIf="isApiLoading"></app-api-loader>
                send</button>
        </div>
        <select  id="" name="selectedCategoryId" (change)="onSelectChange($event)">
            <option value="">--Select a Category--</option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.title }}</option>
        </select>
    </div>
</div>
<app-page-loader *ngIf="isLoadingCount>0"></app-page-loader>
<div class="card-container most-viewed-container">

    <app-card *ngFor="let blog of allSearchedBlogs" [blogData]="blog"></app-card>
   <div *ngIf="allSearchedBlogs?.length=== 0" class="no-blog"> No Blogs Found</div>
</div>


<app-custom-pagination [pageNumber]="pageNumber" [pageSize]="pageSize" [lastPage]="lastPage" [totalElements]="totalElements" [totalPages]="totalPages"    (sentPageNumber)="onPageChanged($event)" ></app-custom-pagination>